@import './../../../variables';
@import './../../../_mixins';

.filterContainer {
  position: relative;
  width: 280px;
}
.titleContainer {
  position: fixed;
  display: none;
  width: 100%;
  padding: 8px 47px;
  top: 0;
  left: 0;
  box-shadow: $box-shadow-secondary;
}
.filterTitle {
  font-size: 22px;
  font-weight: 500;
  line-height: 24px;
}

.displayPrice {
  display: flex;
  gap: 8px;
  margin: 16px 0;
}

.priceDevider {
  align-self: center;
}

.rangeContainer {
  width: 220px;
  margin-bottom: 16px;
}
.buttonContainer {
  position: absolute;
  display: block;
  left: 250px;
  z-index: 2;
  & button:disabled {
    background: $gray-light-color;
  }
}
.desktopButton {
  display: flex;
  & button {
    height: auto;
    margin-left: -12px;
  }
  & span {
    font-size: 16px;
    padding: 8px 14px 8px 8px;
  }
}
.mobileButton {
  display: none;
  padding: 15px 47px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.showbarContainer {
  display: none;
}

@include lg {
  .filterContainer {
    background: $white-color;
    height: 100%;
    width: 347px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 62px 8px 0 47px;
    z-index: 999;
  }
  .contentContainer {
    overflow: scroll;
    height: inherit;
  }
  .filterVisible {
    transform: translateX(0);
  }
  .filterHidden {
    transform: translateX(-500%);
  }
  .titleContainer {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .buttonContainer {
    position: fixed;
    left: 0;
    bottom: 0;
  }
  .showbarContainer {
    display: block;
  }
  .mobileButton {
    display: block;
  }
}

@include md {
  .filterContainer {
    width: 274px;
    padding-left: 27px;
  }
  .buttonContainer {
    padding: 15px 27px;
  }
  .titleContainer {
    padding: 8px 27px;
  }
}
@include sm {
  .filterContainer {
    width: 252px;
    padding-left: 16px;
  }
  .buttonContainer {
    padding: 15px 16px;
  }
  .titleContainer {
    padding: 8px 16px;
  }
  .filterTitle {
    font-size: 22px;
  }
}
