@import './../../../variables';

.filterContainer {
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.displayPrice {
  display: flex;
  gap: 8px;
  margin: 16px 0;
}
.price {
  width: 75px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid $gray-dark-color;
  background: $white-color;
}
.priceDevider {
  align-self: center;
}

.rangeContainer {
  width: 220px;
  margin-bottom: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  appearance: textfield;
}
