@import '../../../../_variables.scss';

.icon-border {
  border-radius: 8px;
  border: 1px solid #e1c429;
  padding: 6px;

  &:hover {
    border: 1px solid $accent-color;
    background-color: #fffdf2;
    cursor: pointer;
  }
}

.icon {
  &:hover {
    cursor: pointer;
  }
}

.icon-round {
  border-radius: 50%;
  background-color: #ffffff;
  padding: 10px;
}
.icon-opacity {
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.icon-background {
  background-color: $accent-color;
  &:hover {
    background-color: #97cf8e;
  }
}

.icon-rectangular-padding {
  padding: 12px 25px;
  border-radius: 8px;
}
.icon-round-green {
  border: 1px solid $accent-color;
  &:hover {
    border: 1px solid $green-dark-dots-color;
  }
}
