@import '/src/variables';
@import '/src/mixins';

.countBlock {
  width: 125px;
  gap: 12px;
  display: flex;
  align-items: center;
  & button:disabled {
    path {
      stroke: $gray-light-color;
    }
  }
}

.field {
  width: 53px;
  line-height: 24px;
  text-align: center;
  border: 1px solid $gray-dark-color;
  border-radius: 8px;
  padding: 11px 12px 5px;
  appearance: textfield;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.icon {
  path {
    stroke: $text-color;
  }
}

@include sm {
  .field {
    font-size: 14px;
  }
}
