@import '/src/variables';

.countBlock {
  width: 125px;
  gap: 12px;
  display: flex;
  align-items: center;
  & button:disabled {
    path {
      stroke: $gray-light-color;
    }
  }
}

.field {
  width: 53px;
  line-height: 24px;
  text-align: center;
  border: 1px solid $gray-dark-color;
  border-radius: 8px;
  padding: 11px 12px 5px;
}

.icon {
  path {
    stroke: $text-color;
  }
}
