.root {
  width: 246px;
  max-height: 80px;
  border: 1px solid #979797;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;

  .select {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  span {
    line-height: 24px;
    font-size: 16px;
    user-select: none;
  }
  .option {
    height: 40px;
    margin-top: 10px;

    &:hover {
      color: #6cc25e;
    }
  }
}
