@import '/src/variables';
.container {
  position: relative;
  width: 246px;
  height: 42px;
}
.root {
  border: 1px solid $gray-dark-color;
  border-radius: 8px;
  padding: 8px 12px;
  background-color: $white-color;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  &:focus {
    background: #000;
  }
}

.select {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.label {
  line-height: 24px;
  user-select: none;
  cursor: pointer;
}

.option {
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 10px;

  &:hover {
    color: $page-accent-color;
  }
}
