.image {
  position: relative;
  border-radius: 4%;
  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      170.54% 170.54% at 50% 50%,
      #ffffff 24.23%,
      rgba(255, 255, 255, 0) 100%
    );
    z-index: 1;
  }
  &__smallCopy {
    position: absolute;
    left: calc(50% - 160px);
    top: calc(50% - 190px);
    transform: rotate(-5deg);
    border: 10px solid #fff;
    width: 320px;
    height: 330px;
    object-fit: cover;
  }
}
