@import '../../../variables';

.card {
  width: 280px;
  background-color: white;
  border-radius: 8px;
  position: relative;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);

  &:hover {
    box-shadow: 0px 2px 10px 0px rgba(151, 207, 142, 0.44);
  }

  .hide {
    display: none;
  }

  .foto {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }

  .foto-inactive {
    opacity: 0.4;
  }

  h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    height: 48px;
    overflow: hidden;
    margin-top: 16px;
    padding: 0 12px;
    text-transform: uppercase;
  }
  .discount {
    position: absolute;
    top: 20px;
    right: 0px;
    color: #fff;
  }
  .card-info {
    padding: 12px;
  }
  .text-flex {
    display: flex;
    justify-content: space-between;
  }

  .out-of-stock {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
  .price {
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 14px;
  }

  .card-flex-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .inactive {
    color: #dbdbdb;
  }
  .icons {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
