@import 'src/variables';
@import 'src/mixins';

.root {
  display: flex;
  align-items: center;
  width: 526px;
  height: 44px;
  border: 1px solid $gray-dark-color;
  border-radius: 8px;
  padding: 4px;
  gap: 4px;
  position: relative;
}

.icon {
  margin-left: 5px;
}

.iconGreen {
  margin-left: 5px;
  path {
    stroke: $page-accent-color;
  }
}

.clearBtn {
  position: absolute;
  top: 8px;
  right: 6px;
}

.input {
  width: 438px;
  height: 36px;
  padding: 6px;
  margin-left: 6px;
  gap: 10px;
  font-size: 16px;
  outline: none;
  border: none;
}

@include md {
  .root {
    width: 354px;
    .input {
      width: 266px;
    }
  }
}

@include sm {
  .root {
    width: 346px;
    .input {
      width: 255px;
      padding: 6px;
      margin-left: 0;
    }
  }
}
