@import '../../../../mixins';

.itemImage {
  position: relative;
  img {
    padding: 28px 16px;
  }
}
.discount {
  position: absolute;
  left: 16px;
  top: 0px;
}

@include md {
  .itemImage {
    img {
      width: 352px;
      height: 400px;
    }
  }
}
@include sm {
  .itemImage {
    display: flex;
    justify-content: center;
    text-align: right;
    img {
      width: 331px;
      height: 332px;
    }
  }
  .discount {
    right: 0;
  }
}
