@import '../../../../mixins';

.itemImage {
  img {
    width: 506px;
    height: 575px;
  }
}
.hide {
  display: none;
}
.fotoInactive {
  opacity: 0.4;
}

@include lg {
  .itemImage {
    img {
      max-width: 352px;
      max-height: 400px;
      width: 100%;
      height: auto;
    }
  }
}
@include sm {
  .itemImage {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: right;
    img {
      max-width: 331px;
      max-height: 332px;
    }
  }
  .discount {
    position: absolute;
    right: 0;
  }
}
