@import 'src/_variables.scss';
@import 'src/_mixins.scss';

.container {
  margin-bottom: 12px;
  padding: 24px;
  overflow: hidden;
}

.headerBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
}

.icon {
  path {
    stroke: $text-color;
  }
}
.changeItems {
  padding: 0 24px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteAll {
  color: $page-accent-color;
  cursor: pointer;
  text-decoration: underline;
}

.noActiveDelete {
  color: $gray-light-color;
  text-decoration: underline;
  cursor: auto;
  pointer-events: none;
}

.bottomBlock {
  margin-top: auto;
}

.bottom {
  padding: 24px 26px;
  display: flex;
  justify-content: space-between;
}

.total {
  display: flex;
  align-items: center;

  b {
    margin-left: 12px;
    font-weight: 700;
    line-height: 24px;
  }
  .sum {
    margin-left: 24px;
  }
  span {
    margin-left: 12px;
    font-size: 14px;
    font-weight: 400;
  }
}

@include md {
  .container {
    padding: 0;
    margin-bottom: 0;
    overflow: initial;
  }
  .headerBlock {
    padding: 16px 27px;
  }
  .icon {
    flex-basis: 24px;
  }
  .title {
    flex-basis: 100%;
    font-size: 22px;
    font-weight: 600;
    line-height: 28.6px;
    text-align: center;
  }
  .bottomBlock {
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
  }
  .changeItems {
    padding: 26px 27px;
    margin-bottom: 0;
  }
  .bottom {
    padding: 26px 27px 44px;
  }
  .button {
    width: 238px;
  }
  .total {
    justify-content: space-between;
    gap: 12px;
    padding: 12px 6px;
    b {
      margin-left: 0;
    }
    .sum {
      margin-left: 24px;
    }
  }
}

@include sm {
  .changeItems {
    padding-bottom: 24px;
  }
  .bottom {
    flex-direction: column;
    padding-top: 0;
  }
  .button {
    width: 100%;
  }
  .divider {
    display: none;
  }
}
