@import '../../../variables';
@import '../../../mixins';

.flowerRight {
  svg {
    position: absolute;
    right: 0;
    top: 0;
  }
}
.heading {
  font-size: 20px;
  line-height: 24px;
  margin: 22px 0 68px;
  position: relative;
}
.header {
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 22px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  max-width: 316px;
  margin: 0 auto 150px;
  position: relative;
}
.dataInput {
  width: 100%;
  max-width: 316px;
  height: 40px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid $gray-dark-color;
  background: $white-color;
  margin-top: 16px;
}
.btnContainer {
  display: flex;
  gap: 10px;
  margin-top: 16px;
}
.passwordReq {
  color: $gray-dark-color;
  font-size: 12px;
  line-height: 130%;
  width: 100%;
  max-width: 316px;
  margin-bottom: 16px;
}
.iconsContainer {
  left: 0;
  display: flex;
  position: absolute;

  .flowerLeft {
    position: relative;
    left: 0;
    bottom: 390px;
  }
  .lock {
    position: relative;
    bottom: 200px;
  }
  .flowerBottom {
    position: relative;
    bottom: 135px;
  }
}

@include lg {
  .flowerRight,
  .iconsContainer {
    display: none;
  }
}
