@import './src/variables';
@import './src/mixins';

.root {
  padding-top: 24px;
  padding-bottom: 35px;

  p {
    color: $gray-dark-color;
    line-height: 20.8px;
    text-align: center;
  }
}

.block {
  margin: 0 auto;
}

.centered {
  display: flex;
  align-items: center;
  flex-direction: column;

  p {
    color: $text-color;
    font-size: 24px;
    line-height: 31.2px;
  }
}

@include sm {
  .centered {
    p {
      font-size: 18px;
    }
  }
}
