@import './src/variables';
@import './src/mixins';

.root {
  p {
    color: $gray-dark-color;
    line-height: 20.8px;
    text-align: left;
    padding: 6px;
    margin-top: 16px;
  }
}

.block {
  margin: 0 auto;
}

.centered {
  display: flex;
  align-items: center;
  flex-direction: column;

  p {
    color: $text-color;
    font-size: 24px;
    line-height: 31.2px;
    padding: 8px 0 125px;
  }
}

@include md {
  .root {
    height: 894px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 46px;
    p {
      text-align: center;
    }

    .centered {
      p {
        font-size: 18px;
      }
    }
  }
}

@include sm {
  .root {
    height: 397px;
    gap: 0;
    & p {
      margin-top: 0;
      padding-bottom: 10px;
    }
  }
  .centered {
    p {
      margin-top: 0;
      padding-bottom: 0;
    }
  }
}
