@import '../../../../../variables';

.blockNumber {
  border-bottom: 1px solid $gray-light-color;
}

.title,
.dateAndStatus {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.cancelOrder {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 8px;

  & div:first-child {
    color: $gray-dark-color;
  }
}

.number div:first-child {
  padding-bottom: 8px;
}

.number div:last-child {
  color: $page-accent-color;
  text-decoration: underline;
}

.status {
  width: 120px;
}
