@import '../../../../../variables';
@import '../../../../../mixins';

.burgerMenu {
  display: none;
  z-index: 1;
  cursor: pointer;
}
.burgerHeader {
  display: flex;
  padding: 8px 16px 16px;
  background-color: $white-color;
  width: 100%;
}
.burgerIcon {
  margin: 8px auto 0 0;
}
.actionIcons {
  display: flex;
}
.search,
.bouquet,
.account,
.cart {
  display: flex;
  padding: 8px 8px 0;
}
.openMenu {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.containerTop {
  height: 50px;
  background-color: $white-color;
  list-style: none;
  z-index: 1;
}
.logoContainer {
  display: flex;
  padding: 3px 16px;
  justify-content: space-between;
  align-items: center;
  gap: 182px;
}
.logo {
  width: 137px;
  height: 50px;
}
.menuItems {
  background: linear-gradient(
      188deg,
      #6ec660 -112.86%,
      #fff 27.91%,
      #fff 57.77%,
      #6ec660 236.93%
    ),
    #fff;
  padding: 24px 16px;
}
.catalogue {
  display: flex;
  align-items: center;

  span {
    color: $text-color;
    font-weight: 700;
    padding: 12px 8px;
  }
  .catalogueIcon {
    margin-left: 8px;
  }
}

.navigation {
  margin-top: 24px;

  .promotions {
    color: $discount-color;
  }
}
.divider {
  width: 100%;
  margin: 12px 0;
}
.phoneLink {
  display: flex;
  align-items: center;
  color: $text-color;
  gap: 2px;
  padding: 8px 2px;
  button {
    background: inherit;
  }
}
.location {
  button {
    background: inherit;
  }
}

.addition {
  display: flex;
  align-items: center;
  padding: 10px 8px;
  gap: 2px;
}
.language {
  color: $text-color;
  font-weight: 500;
}
.open .menuItems {
  display: block;
}

@include sm {
  .burgerMenu {
    display: flex;
  }
}
