@import '../../../../../variables';
@import '../../../../../mixins';

.burgerMenu {
  display: none;
  z-index: 1;
  cursor: pointer;
  position: relative;
}
.burgerHeader {
  display: flex;
  justify-content: space-between;
  padding: 6px 27px;
  background-color: $white-color;
  width: 100%;
}
.burgerIcon {
  margin: 10px 50px 10px 0;
}
.actionIcons {
  display: flex;
}
.searchField {
  display: flex;
  max-width: 354px;
  width: 100%;
}
.searchMobile,
.bouquet,
.account,
.cart {
  position: relative;
  display: flex;
  padding: 8px 8px 0;
}
.searchMobile {
  display: none;
}
.openMenu {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background: $background-gradient;
  display: none;
}
.containerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 3px 27px;
  background-color: $white-color;
}
.logo {
  width: 137px;
  height: 50px;
}
.menuItems {
  padding: 24px 16px;
}
.catalogue {
  display: flex;
  margin-bottom: 24px;
  padding: 4px 0;
}

.promotions {
  color: $discount-color;
}
.divider {
  width: 100%;
  margin: 12px 0;
}
.phoneLink {
  display: flex;
  align-items: center;
  color: $text-color;
  gap: 8px;
  padding: 8px;
  button {
    background: inherit;
  }
}
.location {
  button {
    background: inherit;
  }
}

.addition {
  display: flex;
  align-items: center;
  padding: 10px 8px;
  gap: 8px;
}
.language {
  color: $text-color;
  font-weight: 500;
}
.open .menuItems {
  display: block;
}
.cartQuantity {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: $discount-color;
  color: $white-color;
  font-size: 10px;
  text-align: center;
  position: relative;
  left: -8px;
  top: -6px;
  padding-top: 2px;
}

@include md {
  .burgerMenu {
    display: flex;
  }
  .openMenu {
    display: block;
  }
}
@include sm {
  .searchField {
    display: none;
  }
  .searchMobile {
    display: flex;
  }
  .burgerHeader {
    padding: 8px 16px 0;
  }
}
