@import '../../../variables';

header {
  margin: 10px 0;
  background-color: $white-color;
  //width: 100%;

  .containerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    height: 64px;
  }
  .logo {
    width: 137px;
    height: 50px;
    margin-left: 50px;
    cursor: pointer;
  }
  .leftTop {
    display: flex;
    gap: 26px;
  }
  .location {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 6px;
    color: $text-color;
  }
  .phone {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .text {
    color: $text-color;
  }
  .phoneNumber {
    padding: 8px;
    color: $text-color;
  }
  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    list-style: none;
    padding: 0;
  }
  .links {
    color: $text-color;
    font-size: 16px;
    list-style: none;
    padding: 8px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  .links:hover {
    color: #6cc25e;
  }

  .links:active {
    color: rgb(255, 255, 0);
  }

  .promotions {
    color: #de5f38;
  }

  .verticalLine {
    border-left: 1px solid #6cc25e;
    height: 40px;
  }
  .accessIcon {
    padding: 6px;
  }

  .btnLanguage {
    margin-right: 50px;
    border-radius: 20px;
    border: 1px solid #f1ffef;
    background-color: white;
  }

  .containerBottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    z-index: 1;
  }

  .search {
    display: flex;
    flex-direction: row;
    border: 1px solid #979797;
    border-radius: 8px;
  }

  .searchField {
    padding: 4px;
    border: none;
    border-radius: 8px;
    outline: none;
    width: 526px;
    height: 44px;
  }

  .searchButton {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
  }

  .searchIcon {
    width: 20px;
    height: 20px;
    margin-left: 50px;
  }

  .cart {
    cursor: pointer;
  }

  @media screen and (max-width: 767px){

    display: none;
  }
}
