@import '../../../variables';
@import '../../../mixins.scss';

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white-color;
  font-weight: 400;
  box-shadow: $box-shadow;
  position: relative;
  z-index: 999;
}

.containerTop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 100%;
  padding: 0 64px;
}
.containerTopLeft {
  display: flex;
  align-items: center;
  margin-right: 171px;
}
.logoLink {
  height: 50px;
  margin: 7px 32px 0 0;
  cursor: pointer;
}
.logo {
  width: 137px;
}
.contacts {
  display: flex;
  gap: 26px;
}
.location {
  position: relative;
  display: flex;
  &:hover .locationTooltip {
    transition-delay: 1.5s;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
.locationTooltip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  position: absolute;
  bottom: -150%;
  left: -100%;
  width: max-content;
  padding: 20px 26px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.22);
  border-radius: 8px;
  background-color: $white-color;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition:
    opacity 0.3s ease,
    visibility 0.5s ease,
    transform 0.5s ease;
  transition-delay: 0.8s;
  &::before {
    content: url(../../ui-kit/icons/pointer.svg);
    position: absolute;
    top: -15px;
    left: calc(50% - 23px);
  }
  &::after {
    content: '';
    position: absolute;
    top: -16px;
    left: calc(50% - 5px);
    transform: translateX(-50%);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 16.5px solid rgba(0, 0, 0, 0.019);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    z-index: -1;
  }
}
.phoneLink {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 8px;
  color: $text-color;
  white-space: nowrap;
}
.iconButton {
  margin-right: 130px;
}
.verticalLine {
  border-left: 1px solid $gray-light-color;
  height: 40px;
  margin: 0 12px;
}

.language {
  font-weight: 500;
  line-height: 130%;
}
.containerTopRight {
  display: flex;
  align-items: center;
}

.containerBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 64px;
  height: 64px;
  z-index: 2;
  width: 100%;
  box-shadow: $box-shadow;
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 64px;
  background-color: $white-color;
}
.searchField {
  position: relative;
  display: flex;
  max-width: 526px;
  width: 100%;
  margin: 0 93px 0 48px;
}
.searchResults {
  margin-bottom: 4px;
  & span {
    padding-left: 12px;
    color: $page-accent-color;
  }

  & path {
    stroke: $page-accent-color;
  }
}
.highlightWord {
  color: $text-color;
}

.suggestions {
  position: absolute;
  top: 115%;
  width: 100%;
  background: $white-color;
  border-radius: 8px;
  padding-bottom: 8px;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-20px);
  visibility: hidden;
  opacity: 0;
  transition:
    transform 0.5s ease-in,
    opacity 0.5s ease-in,
    visibility 0.5s ease-in;
  &.visible {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    transition:
      transform 0.5s ease-out,
      opacity 0.5s ease-out,
      visibility 0.5s ease-out;
  }
}
.suggestion {
  padding: 6px 12px;
  & a:visited,
  & a:link {
    color: $gray-dark-color;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  &:hover,
  &:focus-within {
    background: $gray-light-color;
  }
  & a:focus-visible {
    outline: none;
  }
}
.containerBottomRight {
  display: flex;
  align-items: center;
  gap: 12px;
}
.containerBottomLeft {
  display: flex;
  align-items: center;
}
.bouquete {
  position: relative;
  margin: 0 8px;
}

.cart {
  position: relative;
  cursor: pointer;
  margin-left: 8px;
  display: flex;
}
.btnCatalogue {
  position: relative;
}
.tabletContacts {
  display: none;
}

@include lg {
  .containerTop {
    padding: 0 48px;
    justify-content: space-between;
  }
  .containerTopLeft {
    margin-right: 0;
  }
  .contacts {
    display: none;
  }
  .verticalLine {
    margin: 0 8px;
  }
  .containerBottom {
    padding: 0 48px;
  }
  .searchField {
    margin: 0 32px 0 43px;
  }
  .tabletContacts {
    display: flex;
    gap: 8px;
    margin-right: 8px;
  }
  .tabletIcon {
    padding: 6px;
  }
}
@include md {
  header {
    display: none;
  }
}
