@import '../../../variables';
@import '../../../mixins.scss';

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white-color;
  font-weight: 400;
  box-shadow: $box-shadow;
}

.containerTop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 100%;
  padding: 0 64px;
}
.containerTopLeft {
  display: flex;
  align-items: center;
  margin-right: 171px;
}
.logoLink {
  height: 50px;
  margin: 7px 32px 0 0;
  cursor: pointer;
}
.logo {
  width: 137px;
}
.contacts {
  display: flex;
  gap: 26px;
}
.location {
  display: flex;
}
.phoneLink {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 8px;
  color: $text-color;
  white-space: nowrap;
}
.iconButton {
  margin-right: 130px;
}
.verticalLine {
  border-left: 1px solid $gray-light-color;
  height: 40px;
  margin: 0 12px;
}

.language {
  font-weight: 500;
  line-height: 130%;
}
.containerTopRight {
  display: flex;
  align-items: center;
}

.containerBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 64px;
  height: 64px;
  z-index: 1;
  width: 100%;
  box-shadow: $box-shadow;
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 64px;
  background-color: $white-color;
}
.searchField {
  display: flex;
  max-width: 526px;
  width: 100%;
  margin: 0 93px 0 48px;
}

.containerBottomRight {
  display: flex;
  align-items: center;
  gap: 12px;
}
.containerBottomLeft {
  display: flex;
  align-items: center;
}
.login {
  margin-bottom: 8px;
}
.cart {
  cursor: pointer;
  margin: 0 0 8px 8px;
  display: flex;
}
.btnCatalogue {
  position: relative;
}
.tabletContacts {
  display: none;
}

.cartQuantity {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: $discount-color;
  color: $white-color;
  font-size: 10px;
  text-align: center;
  position: relative;
  left: -8px;
  top: -6px;
}

@include lg {
  .containerTop {
    padding: 0 48px;
    justify-content: space-between;
  }
  .containerTopLeft {
    margin-right: 0;
  }
  .contacts {
    display: none;
  }
  .verticalLine {
    margin: 0 8px;
  }
  .containerBottom {
    padding: 0 48px;
  }
  .searchField {
    margin: 0 32px 0 43px;
  }
  .tabletContacts {
    display: flex;
    gap: 8px;
    margin-right: 8px;
  }
  .tabletIcon {
    padding: 6px;
  }
}
@include md {
  header {
    display: none;
  }
}
