.root {
  display: flex;
  align-items: center;
  width: 320px;
  height: 36px;

  .arrow {
    width: 36px;
    display: flex;
    justify-content: center;
  }

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    width: 36px;
    cursor: pointer;

    &:hover {
      color: #6cc25e;
    }
  }

  .active {
    color: #6cc25e;
    border-radius: 50%;
    background-color: lavender;
    width: 36px;
    height: 36px;
  }
}
