@import '/src/mixins';
$section_mb: 96px;
%sectionTitle {
  margin-bottom: 54px;
  font-size: 32px;
  line-height: 49px;
  font-weight: 500;
  text-align: center;
  color: $page-accent-color;
}
%flower {
  content: '';
  position: absolute;
  display: block;
  width: 103px;
  height: 89px;
  background-image: url('../../../public/images/rose.svg');
  background-size: cover;
}
.main {
  position: relative;
  padding: 32px 0 96px;
  &::after {
    @extend %flower;
    bottom: -30px;
  }
}
.title {
  margin-bottom: 44px;
  font-size: 32px;
  font-weight: 500;
  line-height: 41px;
  text-align: center;
}

.description {
  font-size: 24px;
  line-height: 37px;
  text-align: center;
}

.advantages {
  margin-bottom: $section_mb;
  &__title {
    @extend %sectionTitle;
  }
}
.becomePartner {
  position: relative;
  margin-bottom: $section_mb;
  &::before {
    @extend %flower;
    right: 0;
    top: -30px;
    transform: scaleX(-1);
  }
  &__title {
    @extend %sectionTitle;
  }
  &__container {
    display: flex;
    gap: 20px;
    align-items: stretch;
  }
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
    p {
      font-size: 24px;
      font-weight: 400;
      line-height: 37px;
    }
  }
  &__img {
    flex: 1;
    width: 50%;
  }
}
.conclusions {
  margin-bottom: $section_mb;
  &__title {
    @extend %sectionTitle;
    color: $text-color;
    &_accent {
      color: $page-accent-color;
    }
  }
  &__imgContainer {
    display: flex;
    gap: 20px;
    img {
      width: 50%;
      border-radius: 8px;
    }
  }
}

@include lg {
  %flower {
    width: 76px;
    height: 65px;
  }
  %sectionTitle {
    margin-bottom: 32px;
  }
  .title,
  %sectionTitle {
    font-size: 28px;
    line-height: 36px;
  }
  .description {
    font-size: 20px;
  }
  .becomePartner {
    margin-bottom: 44px;
    &__content {
      gap: 20px;
      p {
        font-size: 20px;
        line-height: 31px;
      }
    }
  }
}
