@import '../../../../../variables';
@import '../../../../../mixins';

.itemsBlock {
  padding-right: 15px;
  margin-top: 30px;
  width: 571px;
  height: 816px;
  max-height: 90%;
  overflow-y: auto;
  scrollbar-width: 4px;
  scrollbar-color: $page-accent-color transparent;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 4px;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $page-accent-color;
    border-radius: 2px;
  }
}

.item {
  box-sizing: content-box;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.icon {
  display: flex;
  align-items: center;
}

.blockImg {
  display: flex;
  align-items: center;
  width: 254px;

  img {
    width: 59px;
    height: 60px;
    margin-left: 18px;
    margin-right: 20px;
  }
  span {
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
  }
}

.price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 5px;
  color: $page-accent-color;
  line-height: 24px;
  width: 106px;

  span {
    margin-left: 12px;
    font-weight: 400;
    font-size: 14px;
  }
}

.divider {
  padding: 12px 0;
}

@include md {
  .itemsBlock {
    width: 100%;
    max-height: 796px;
    margin-top: 0;
    padding: 8px 27px 20px;
    overflow-y: scroll;
    background: $background-gradient;
  }
  .item {
    width: 100%;
  }

  .blockImg {
    flex: 2 2;
  }
  .rightBlock {
    margin-left: 95px;
    justify-content: space-between;
  }
}

@include sm {
  .itemsBlock {
    max-height: 587px;
  }
  .item {
    height: max-content;
    display: grid;
    gap: 16px 0;
    grid-template-areas: 'icon title title title .' '. . countBlock price .';
  }
  .icon {
    grid-area: icon;
  }
  .blockImg {
    grid-area: title;
    img {
      margin-left: 0;
    }
  }
  .countBlock {
    grid-area: countBlock;
  }
  .price {
    grid-area: price;
  }
}
