@import '../../../../variables';
@import '../../../../mixins';

.oldPrice {
  font-size: 18px;
  line-height: 24px;
  text-decoration: line-through;
  color: $black-80-color;
  padding-bottom: 10px;
}

.actualPrice {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: $page-accent-color;
}

.currency {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-left: 4px;
}

.hide {
  visibility: hidden;
  line-height: 24px;
}

.inactive {
  color: $gray-light-color;
}

@include sm {
  .oldPrice {
    font-size: 14px;
  }
  .actualPrice {
    font-size: 16px;
  }
  .currency {
    font-size: 14px;
  }
}
