@import '../_variables.scss';

.card {
  width: 280px;
  height: 474px;
  background-color: white;
  border-radius: 8px;
  position: relative;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.04);

  &:hover {
    box-shadow: 0px 2px 10px 0px rgba(151, 207, 142, 0.44);
  }

  h3 {
    font-size: 20px;
    line-height: 24px;
    height: 48px;
    overflow: hidden;
    margin-top: 16px;
    padding: 0 12px;
  }
  .discount {
    position: absolute;
    top: 20px;
    right: 0px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    background-color: #de5f38;
    padding: 4px 8px;
    border-radius: 24px 0px 0px 24px;
  }
  .card-info {
    padding: 12px;

    p {
      font-size: 14px;
      line-height: 24px;
      padding-bottom: 14px;
    }

    .old-price {
      font-size: 18px;
      line-height: 24px;
      text-decoration: line-through;
    }

    .card-flex-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .actual-price {
        font-size: 24px;
        font-weight: 700;
        color: $accent-color;

        span {
          font-weight: 400;
          font-size: 20px;
          color: $accent-color;
          padding-left: 4px;
        }
      }
      .icons {
        display: flex;
        align-items: center;
        gap: 16px;

        .bouquet {
          padding-right: 6px;
        }
        .cart {
          border-radius: 8px;
          border: 1px solid #e1c429;
          padding: 6px;

          &:hover {
            border: 1px solid $accent-color;
          }
        }
      }
    }
  }
}
