header {
  margin: 30px 20px;

  .container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }

  li {
    list-style: none;
    padding: 8px;
  }

  .links {
    text-decoration: none;
    color: black;
  }
  .logo {
    margin-left: 80px;
    cursor: pointer;
  }

  .city {
    font-size: 20px;
  }

  .vertical-line {
    border-left: 1px solid #6cc25e;
    height: 40px;
  }

  .text-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  .btn-language {
    margin-right: 80px;
    border-radius: 20px;
    border: 1px solid #f1ffef;
    background-color: white;
  }

  .container-bottom {
    display: flex;
    justify-content: space-evenly;
  }

  .btn-catalogue {
    border-radius: 8px;
    background-color: #6cc25e;
    color: white;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
  }

  .search {
    display: flex;
    flex-direction: row;
    border: 1px solid #979797;
    border-radius: 8px;
  }

  .search-field {
    padding: 4px;
    border: none;
    border-radius: 8px;
    outline: none;
    width: 526px;
    height: 44px;
  }

  .search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
  }

  .search-icon {
    width: 20px;
    height: 20px;
    margin-left: 50px;
  }

  .cart {
    cursor: pointer;
  }
}
