@import '../../../../variables';
@import '../../../../mixins';

.path {
  display: flex;
  align-items: flex-end;
}

.navigationLink {
  color: $text-color;
  font-size: 14px;
  line-height: 130%;
}

.navigation {
  font-size: 14px;
  line-height: 130%;
}

.arrow {
  display: flex;
}

@include md {
  .path {
    font-size: 14px;
    margin: 5px 0 25px;
  }
}
@include sm {
  .pathContainer {
    overflow: auto;
    white-space: nowrap;
    max-height: 63px;
    scrollbar-width: 128px;
    scroll-margin-top: 16px;
    scrollbar-color: $page-accent-color transparent;
    &::-webkit-scrollbar {
      width: 128px;
      height: 4px;
      max-height: 20px;
      margin-top: 16px;
    }
    &::-webkit-scrollbar-corner {
      border-radius: 2px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $page-accent-color;
      border-radius: 2px;
    }
  }
  .path {
    position: relative;
    margin: 0 0px 15px;
  }
}
