@import '../../variables';
@import '../../mixins';

.placedOrder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  @include title;
  margin: 170px 0 52px;

  &::before {
    background: no-repeat url(../../../public/images/flower.svg);
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    height: 456px;
    width: 456px;
    transform: rotate(-14.48deg);
  }
}

.orderInformation {
  @include subtitle;
  margin-bottom: 46px;
  text-align: center;

  span {
    color: $green-dark-color;
    text-decoration: underline;
    line-height: 26px;
  }

  &::after {
    background: url(../../../public/images/flowers.svg) no-repeat;
    content: '';
    position: fixed;
    bottom: -344px;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
