@import '../../variables';
@import '../../mixins';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  &::before {
    background: no-repeat url(../../../public/images/flower.svg);
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    height: 457px;
    width: 430px;
    transform: rotate(-14.48deg);
  }
  &::after {
    background: url(../../../public/images/flowers.svg) no-repeat;
    content: '';
    position: fixed;
    bottom: 95px;
    left: 0;
    width: 1087px;
    height: 824px;
  }
}

.title {
  @include title;
  margin: 170px 0 52px;
}

.orderInformation {
  @include subtitle;
  margin-bottom: 46px;

  span {
    color: $green-dark-color;
    text-decoration: underline;
    line-height: 26px;
  }
}

@include lg {
  .title {
    margin-top: 295px;
  }
}
