@import './../../../../../variables';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 19px;

  .iconBlack {
    position: absolute;
    top: 18px;
    left: 16px;

    path {
      stroke: $text-color;
    }
  }
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid $gray-light-color;
}

.deleteIconWithText {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dateAndStatus {
  display: flex;
  justify-content: space-between;
  padding: 16px 62px 16px 0;
}

.flexColumnAndGap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
