@import '../../../../mixins';

.supportButtonContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  top: 70vh;
  right: 43px;
  height: 164px;
}

.additionalButtons {
  display: none;
}
.visible {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.messageButton {
  animation: slideMessage 1s backwards;
}

.phoneButton {
  animation: slidePhone 0.5s backwards;
}

@keyframes slideMessage {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slidePhone {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@include md {
  .supportButtonContainer {
    right: 27px;
  }
}
@include sm {
  .supportButtonContainer {
    right: 16px;
  }
}
