@import '../../../../mixins';

.supportButtonContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  top: 70vh;
  right: 43px;
  height: 164px;
  z-index: 999;
}

.visible {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.messageButton,
.phoneButton {
  opacity: 0;
  transition:
    opacity 0.5s ease,
    transform 0.5s ease,
    pointer-events 0.5s;
}
.visible .messageButton,
.visible .phoneButton {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.messageButton.hidden {
  opacity: 0;
  transform: translateY(100px);
  pointer-events: none;
}

.phoneButton.hidden {
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
}

@include md {
  .supportButtonContainer {
    right: 27px;
  }
}
@include sm {
  .supportButtonContainer {
    right: 16px;
  }
}
