@import 'src/_variables';
@import 'src/_mixins.scss';

.block {
  padding: 0 32px 32px;
}

.accountTitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.flexFieldsAndData {
  display: flex;
  gap: 134px;
  padding: 34px 0 16px;

  p {
    padding-bottom: 18px;
    line-height: 24px;
  }
}

.fields {
  color: $gray-dark-color;
}

.flexButtons {
  display: flex;
  gap: 16px;

  button {
    padding: 8px;
  }

  & :first-child {
    padding-left: 0;
  }
}

@include md {
  .block {
    padding: 0 26px 26px;
  }
  .flexFieldsAndData {
    gap: 38px;
    padding: 34px 0 16px;
  }
  .flexButtons {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    button {
      padding: 0;
    }
  }
}

@include sm {
  .flexButtons {
    button:first-child {
      display: none;
    }
  }
}
