@import '../../../variables';

.contactDetails {
  background-color: white;
  border-radius: 8px;
  margin-top: 25px;
}

.contactDetails {
  padding: 20px 0 32px 26px;
  h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }
}

.flexFieldsAndData {
  display: flex;
  gap: 134px;
  padding: 34px 0 16px;

  p {
    padding-bottom: 18px;
    line-height: 24px;
  }
}

.fields {
  color: $gray-dark-color;
}

.flexButtons {
  display: flex;
  gap: 16px;

  button {
    padding: 8px;
  }

  & :first-child {
    padding-left: 0;
  }
}
