@import '../../../variables';
@import '../../../mixins';

.menuAccount {
  background-color: $white-color;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
}

.menuItem {
  display: block;
  padding: 8px 16px;
  color: $text-color;

  &:hover {
    color: $page-accent-color;
  }
  &:active {
    color: $on-press-color;
  }
  &:last-of-type {
    border-top: 1px solid $gray-light-color;
  }
}

.active {
  border-left: 4px solid $page-accent-color;
  display: block;
  padding: 8px 16px 8px 12px;
  color: $text-color;
}

.inactive {
  display: block;
  padding: 8px 16px;
  color: $text-color;
}

@include sm {
  .active {
    border-left: none;
    padding: 8px 16px;
  }
  .menuAccount {
    margin: 0 -16px -46px;
    background-color: $white-color;
    min-height: 52vh;
  }
}
