@import '../../../variables';

.menuAccount {
  background-color: white;
  border-radius: 8px;
  margin-top: 25px;
  padding-bottom: 32px;
}

.menuItem {
  display: block;
  padding: 8px 16px;
  color: $text-color;

  &:hover {
    color: $page-accent-color;
  }
  &:active {
    color: $on-press-color;
  }
}
