@import 'src/_variables.scss';

.mainContainer {
  padding: 20px 26px 26px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  p {
    font-size: 20px;
    line-height: 120%;
  }
}
.email {
  line-height: 140%;
}
.emailExample {
  margin: 16px 0 16px 0;
  color: $page-accent-color;
}
.textConfirmation {
  line-height: 140%;
}
