@import '/src/variables';
@import 'src/mixins';

.root {
  padding-top: 84.5px;
  min-height: 816px;
}

.block {
  margin: 0 auto;
  width: 571px;
  height: 279px;
}

.centered {
  display: flex;
  align-items: center;
  flex-direction: column;

  p {
    text-align: center;
    padding-top: 46px;
    color: $text-color;
    font-size: 24px;
    line-height: 31.2px;
  }
}
@include md {
  .root {
    padding-top: 146px;
    background: $background-gradient;
  }
  .block {
    width: 100%;
  }
}

@include sm {
  .root {
    padding-top: 24px;
    min-height: 325px;
    overflow-y: auto;
  }
  .block {
    width: 309px;
  }
  .centered {
    p {
      padding-top: 16px;
      font-size: 18px;
    }
  }
}
