@import 'src/variables';

.mobileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 16px;
}
.accountTitle {
  font-size: 14px;
  line-height: 18px;
}
.mobileUser {
  color: $text-color;
}
