@import 'src/variables';

.mobileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 16px;
  margin-bottom: 24px;
}
.accountTitle {
  font-size: 14px;
  line-height: 18px;
}
.mobileUser {
  color: $text-color;
}
.fields {
  color: $gray-dark-color;
  p {
    padding: 6px 0;
  }
}
