@import 'src/_variables.scss';
@import 'src/_mixins.scss';

footer {
  height: 337px;
  padding: 32px 0px;
  background-color: $text-color;
}

.container {
  max-width: 1180px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

section {
  padding: 10px;
  text-align: justify;
}

.blockRight {
  width: 456px;
  display: flex;
  justify-content: space-around;
}

.title {
  color: $white-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.contacts {
  width: 240px;
  p {
    color: $white-color;
    margin: 16px 0;
  }
  address {
    font-style: normal;
    color: $white-color;
    margin-top: 16px;
  }
}

.socials {
  width: 156px;
}

.iconsBlock {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

@include lg {
  footer {
    height: 100%;
    padding: 32px 102px 0 47px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 936px;
  }
  .blockRight {
    width: 235px;
    flex-direction: column;
  }
  .socials {
    margin-top: 8px;
  }
}

@include sm {
  footer {
    height: 100%;
    padding: 0 26px 32px;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  section {
    margin-top: 32px;
  }
  .blockRight {
    flex-direction: column;
  }
  .socials {
    margin-top: 32px;
  }
}
