@import '../../_variables.scss';
@import '../../mixins.scss';

footer {
  height: 337px;
  padding: 32px 0px;
  background-color: $text-color;
  position: relative;
}

.container {
  max-width: 1180px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.blockRight {
  flex: 4 4;
  width: 456px;
  display: flex;
  justify-content: space-around;
}

.title {
  color: $white-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.contacts {
  flex: 1 1;
  width: 240px;
  p {
    color: $white-color;
    margin: 16px 0;
  }
  address {
    font-style: normal;
    color: $white-color;
    margin-top: 16px;
  }
}

.socials {
  flex: 1 1;
}

.iconsBlock {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}

.socials,
.contacts {
  padding: 10px;
}

@include lg {
  footer {
    height: 100%;
    padding: 32px 102px 32px 47px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 936px;
  }
  .blockRight {
    flex: 1 1;
    width: 235px;
    flex-direction: column;
  }
  .socials {
    margin-top: 8px;
  }
}

@include md {
  footer {
    padding: 32px 25px;
  }
  .container {
    flex-wrap: wrap;
  }
  .blockRight {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .contacts {
    margin-top: -27px;
  }
  .iconsBlock {
    width: 187px;
    padding-right: 27px;
  }
}

@include sm {
  footer {
    height: 100%;
    padding: 0 26px 32px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .socials,
  .contacts {
    margin-top: 32px;
  }
  .blockRight {
    flex-direction: column;
  }
}
