@import '../../mixins';
@import '../../variables';

.order {
  .title {
    @include title;
    margin: 46px 0 22px;
  }

  .mainGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 21px;
  }

  .contactDetails {
    background-color: $white-color;
    padding: 32px;
  }

  .cart {
    background-color: $white-color;
  }

  .subtitle {
    @include subtitle;
    margin-bottom: 22px;
    span {
      font-size: 26px;
      font-weight: 500;
      color: $page-accent-color;
      margin-right: 6px;
    }
  }

  label {
    line-height: 24px;
    span {
      color: $discount-color;
    }
  }

  input {
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 8px;
    border: 1px solid $gray-dark-color;
    padding: 8px 12px;
  }

  .clientData {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 64px;
    row-gap: 16px;

    div {
      display: flex;
      flex-direction: column;
    }
  }
  .radioBtn {
    display: flex;
    align-items: baseline;
    gap: 16px;

    div {
      display: flex;
      flex-direction: row-reverse;
      align-items: baseline;
      justify-content: start;
      gap: 12px;
    }
  }
}
