@import '../../mixins';
@import '../../variables';

.order {
  .title {
    @include title;
    margin: 46px 0 22px;
  }

  .mainGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 21px;
  }

  .orderBlock {
    background-color: $white-color;
    padding: 32px;
    border-radius: 8px;
  }

  .orderBlock:not(:first-of-type) {
    margin-top: 16px;
  }

  @include sm {
    .mainGrid {
      grid-template-columns: 1fr;
      row-gap: 12px;
    }
  }
}
