@import '../../mixins';
@import '../../variables';

.order {
  .title {
    @include title;
    margin: 46px 0 22px;
  }

  .mainGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 21px;
  }

  .orderBlock {
    background-color: $white-color;
    padding: 32px;
    border-radius: 8px;
  }

  .orderBlock:not(:first-of-type) {
    margin-top: 16px;
  }

  .subtitleBlock {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .buttonChange {
    height: 40px;
    padding-right: 8px;
  }

  .clientDataOutput {
    padding-left: 23px;
    color: $gray-dark-color;
    line-height: 24px;
  }

  .subtitle {
    @include subtitle;

    span {
      font-size: 26px;
      font-weight: 500;
      color: $page-accent-color;
      margin-right: 6px;
    }
  }

  label {
    line-height: 24px;
    span {
      color: $gray-dark-color;
    }
  }

  input,
  select {
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 8px;
    border: 1px solid $gray-dark-color;
    padding: 8px 12px;
  }

  .clientData,
  .anotherPerson {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 64px;
    row-gap: 16px;

    div {
      display: flex;
      flex-direction: column;
    }
  }
  .radioBtn {
    display: flex;
    align-items: baseline;
    gap: 16px;
    margin: 22px 0;

    div {
      display: flex;
      flex-direction: row-reverse;
      align-items: baseline;
      justify-content: flex-start;
      gap: 12px;
    }
  }
  .error {
    color: $discount-color;
    font-size: 12px;
    padding-top: 5px;
  }
  .anotherPerson {
    margin-bottom: 32px;
  }
  .clientData {
    margin-top: 22px;
  }

  // Section delivery
  .city {
    display: flex;
    gap: 8px;
    align-items: baseline;
    padding: 8px 0;
  }

  .clientDeliveryData {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }

  .continueButton {
    margin-top: 32px;
  }

  .formDelivery .radioBtn {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin: 0;
  }
}
