@import '../../../../variables';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 19px;
  background-color: $white-color;

  .iconBlack {
    position: absolute;
    top: 18px;
    left: 16px;

    path {
      stroke: $text-color;
    }
  }
}
