@import '../../../../variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 16px 9px;
  margin: -19px -16px 0;
  background-color: $white-color;
  position: relative;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.1);

  .iconBlack {
    path {
      stroke: $text-color;
    }
  }
}
.titleContainer {
  display: flex;
}
.titleIcon {
  justify-self: flex-end;
}
