@import '../../variables';
@import '../../mixins';

.mainPage {
  background: $background-gradient;
  padding-top: 20px;
  min-height: 100vh;
  width: 100%;
}
.cardPageMobile {
  display: none;
}
.path {
  span {
    padding: 7px 9px;
  }
}
.itemContainer {
  padding: 32px 0 32px 4px;
  margin-top: 22px;
  border-radius: 8px;
  background: $white-color;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.04);
}
.itemBlock {
  display: flex;
  position: relative;
  gap: 58px;
}
.itemImage {
  padding: 0 16px;
}
.discount {
  position: absolute;
  left: 16px;
  top: 0;
}
.itemDescriptionContainer {
  flex-direction: column;
}
.descriptioContainer {
  margin: 8px 16px 34px 0;
}
.itemName {
  font-weight: 500;
  padding: 6px 0;
  margin-bottom: 32px;
}
.description {
  padding: 6px 0;
}
.itemDescription {
  font-size: 20px;
  padding: 6px 0;
}
.features {
  p {
    padding: 6px 0;
    gap: 6px;
  }
}
.type {
  font-size: 20px;
}
.price {
  margin-top: 32px;
  margin-bottom: 26px;
}
.descriptionContainerTablet {
  display: none;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 26px;
}
.bouquetDesktop {
  display: flex;
}
.bouquetTablet {
  display: none;
}
.previous {
  padding: 6px;
  margin-top: 28px;
  margin-bottom: 32px;
  font-weight: 500;
}
.previousCards {
  margin-bottom: 46px;
}
.helpButton {
  position: fixed;
  z-index: 1;
  top: 90vh;
  left: 95vw;
}
.mobileTop {
  display: none;
}
@include md {
  .mainPage {
    padding-top: 16px;
  }
  .path {
    font-size: 14px;
    margin: 16px 47px;
    margin-bottom: 16px;
  }
  .itemContainer {
    flex-direction: column;
    padding: 32px 20px 0px 4px;
    width: 906px;
    margin-left: 47px;
  }
  .itemBlock {
    gap: 92px;
  }
  .itemImage {
    img {
      width: 352px;
      height: 400px;
    }
  }
  .descriptioContainer {
    display: none;
  }
  .descriptionContainerTablet {
    display: block;
    margin-left: 20px;
  }
  .itemDescription {
    padding-bottom: 32px;
  }
  .price {
    margin-top: 26px;
    margin-bottom: 26px;
  }
  .bouquetDesktop {
    display: none;
  }
  .bouquetTablet {
    display: flex;
  }
  .previous {
    margin-left: 47px;
    margin-top: 46px;
  }
}
@include sm {
  .cardPageMobile {
    display: block;
  }
  .mainContainer {
    display: none;
  }
}
