@import '../../../variables';

.categoryWrapper {
  display: flex;
  position: absolute;
  z-index: 9999;
  top: 75px;
  left: 0;

  .itemsWrapper {
    display: flex;
    background-color: #fff;
    border-radius: 8px 0 0 8px;
    border: none;

    .categoryLink {
      min-width: 280px;
      display: flex;
      gap: 10px;
      align-items: center;
      color: var(--Black, #242424);
      min-height: 24px;

      .categoryIcon {
        svg {
          width: 24px;
          height: 24px;
        }
      }
    }

    .categoryItemWrapper {
      transition: all 0.3s ease-in-out;
      border-radius: 26px;
      padding: 4px 10px;
      cursor: pointer;
      &:hover {
        background-color: #f1ffef;
      }

      .categoryIcon {
        min-width: 24px;
      }
    }

    .categoryList {
      display: flex;
      flex-direction: column;
      padding: 12px 22px;
      max-height: 550px;
      overflow: hidden;
      overflow-y: auto;
      @media screen and (max-width: 480px) {
        width: 100vw;
      }

      .categoryItemContent {
        display: flex;
        gap: 10px;
        align-items: center;
      }

      .contacts {
        padding-top: 12px;
        margin-top: 12px;
      }
    }

    .subCategoryList {
      display: flex;
      flex-direction: column;
      padding: 12px 22px;
      max-height: 550px;
      overflow: hidden;
      overflow-y: auto;
    }
  }

  .categoryBg {
    //TODO: Temporary solution until we get the correct image
    transform: translateX(-2px) scale(1.004);
  }
}
.redText {
  color: red;
}
.icon {
  margin-left: auto;
}
