@import '../../../variables';

.categoryWrapper {
  display: flex;
  position: absolute;
  z-index: 9999;
  top: 75px;
  left: 0;

  .itemsWrapper {
    display: flex;
    background-color: #fff;
    border-radius: 8px 0 0 8px;
    border: none;

    .categoryLink {
      min-width: 280px;
      display: flex;
      gap: 10px;
      align-items: center;
      color: var(--Black, #242424);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 20.8px */
      text-transform: capitalize;
      min-height: 24px;

      .categoryIcon {
        svg {
          width: 24px;
          height: 24px;
        }
      }
    }

    .categoryItemWrapper {
      transition: all 0.3s ease-in-out;
      border-radius: 26px;
      padding: 4px 10px;
      cursor: pointer;

      .categoryIcon {
        min-width: 24px;
      }

      &:hover {
        background-color: #f1ffef;
      }
    }

    .categoryList {
      display: flex;
      flex-direction: column;
      padding: 12px 22px;
      max-height: 550px;
      overflow: hidden;
      overflow-y: auto;

      .categoryItemContent {
        width: 100%;
        display: flex;
        gap: 16px;
        justify-content: space-between;
        align-items: center;

        .categoryItemText {
        }

        svg {
          color: #000;
        }
      }

      .contacts {
        padding-top: 12px;
        margin-top: 12px;
        border-top: 1px solid #ebebeb;
      }
    }

    .subCategoryList {
      display: flex;
      flex-direction: column;
      padding: 12px 22px;
      max-height: 550px;
      overflow: hidden;
      overflow-y: auto;
    }
  }

  .categoryBg {
    //TODO: Temporary solution until we get the correct image
    transform: translateX(-2px) scale(1.004);
  }
}
