@import '../../../variables';
@import '../../../mixins';

.categoryWrapper {
  display: flex;
  position: absolute;
  z-index: 9999;
  left: 0;

  .itemsWrapper {
    display: flex;
    background-color: $white-color;
    border-radius: 8px 0 0 8px;
    border: none;

    .categoryLink {
      min-width: 280px;
      display: flex;
      gap: 10px;
      align-items: center;
      color: $text-color;
      min-height: 24px;

      .categoryIcon {
        svg {
          width: 24px;
          height: 24px;
        }
      }
    }

    .categoryItemWrapper {
      transition: all 0.3s ease-in-out;
      padding: 4px 10px;
      cursor: pointer;
      &:hover {
        border-radius: 26px;
        background: $page-background-color;
      }

      .categoryIcon {
        min-width: 24px;
      }
    }

    .categoryList {
      display: flex;
      flex-direction: column;
      padding: 12px 16px;
      max-height: 550px;
      overflow: hidden;
      overflow-y: auto;

      .categoryItemContent {
        display: flex;
        align-items: center;
      }

      .contacts {
        padding-top: 12px;
        margin-top: 12px;
      }
    }

    .subCategoryList {
      display: flex;
      flex-direction: column;
      padding: 12px 22px;
      max-height: 550px;
      overflow: hidden;
      overflow-y: auto;
    }
  }

  .categoryBg {
    //TODO: Temporary solution until we get the correct image
    transform: translateX(-2px) scale(1.004);
  }
}
.redText {
  color: $discount-color;
  font-weight: 700;
  line-height: 130%;
}
.icon {
  margin-left: auto;
}

.categoryItemText,
.redText {
  margin-right: 5px;
}

@include sm {
  .categoryWrapper {
    top: 75px;
  }
  .categoryItemWrapper {
    padding: 12px 10px;
  }
  .categoryList {
    width: 100vw;
  }
}
