@import '../../../../variables';
@import '../../../../mixins';

.sortOptions {
  position: absolute;
  z-index: 2;
  margin-top: 15px;
  width: inherit;
  background: $white-color;
  box-shadow: $box-shadow-secondary;
  border-radius: 8px;
}

@include lg {
  .dropdown {
    display: none;
    &__mobile {
      display: block;
    }
  }
}
