@import '/src/_variables';

.confirmCancelOrder {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 16px 20px 17px 85px;
    background-color: $page-background-color;

    p {
      font-size: 24px;
      line-height: 31.2px;
    }
  }
  .text {
    padding: 48px 55px 60px;
    text-align: center;
    font-size: 20px;
    line-height: 26px;
  }
  .buttonsBlock {
    padding: 0 66px 48px;
    display: flex;
    justify-content: space-between;
  }
}
