@import '../../mixins';
@import '../../variables';

.wrapper {
  width: 100%;
  background: $background-gradient;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1180px;
  min-height: 66vh;
  padding: 20px 0 46px;
}

@include lg {
  .container {
    margin: 0 46px;
  }
}
@include md {
  .container {
    min-height: 64vh;
    margin: 0 25px;
  }
}
@include sm {
  .container {
    margin: 0 16px;
  }
}
