@import '../../mixins';
@import '../../variables';

.wrapper {
  width: 100%;
  min-height: 64vh;
  background: $background-gradient;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  padding: 20px 0 46px;
}

@include lg {
  .container {
    margin: 0 46px;
  }
}
@include md {
  .container {
    margin: 0 25px;
  }
}
@include sm {
  .container {
    min-width: 343px;
    margin: 0 16px;
  }
}
