@import '../../mixins';
@import '../../variables';

.wrapper {
  width: 100%;
  min-height: 64vh;
  background: $background-gradient;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  padding: 20px 0 46px;
}
