@import 'src/_variables.scss';
@import '../../../mixins.scss';

.section {
  flex: 2 2;
  padding: 8px;
  text-align: justify;
}

.title {
  color: $white-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.list {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  gap: 16px;
}

.links {
  line-height: 20.8px;
  color: $white-color;
  white-space: nowrap;
}

@include lg {
  .section {
    flex: 1 1;
  }
}

@include sm {
  .section {
    margin-top: 32px;
  }
}
