@import 'src/_variables.scss';

.title {
  color: $white-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.list {
  margin-top: 28px;
  .item {
    margin-top: 16px;
  }
}

.links {
  line-height: 20.8px;
  color: $white-color;
  white-space: nowrap;
}
