@import 'variables';

// Small devices
@mixin sm {
  @media screen and (max-width: #{$breakpoint-sm}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media screen and (max-width: #{$breakpoint-md}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media screen and (max-width: #{$breakpoint-lg}) {
    @content;
  }
}

// Style for titel (h2)
@mixin title {
  font-size: 32px;
  line-height: 24px;
  font-weight: 400;

  @include sm {
    font-size: 22px;
    line-height: 130%;
    font-weight: 500;
  }
}

// Style for subtitle (h3)
@mixin subtitle {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

// Style for paragraph (p)
@mixin paragraph {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
