$font-main: FixelDisplay;
$page-background-color: #f1ffef;
$page-accent-color: #6cc25e;
$active-color: rgb(255, 255, 0);
$green-dark-color: #518c47;
$white-color: #fff;
$gray-dark-color: #979797;
$gray-light-color: #dbdbdb;
$discount-color: #de5f38;
$text-color: #242424;

$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
