$font-main: FixelDisplay;
$page-background-color: #f1ffef;
$page-accent-color: #6cc25e;
$active-color: rgb(255, 255, 0);
$green-dark-color: #518c47;
$white-color: #fff;
$gray-dark-color: #979797;
$gray-light-color: #dbdbdb;
$discount-color: #de5f38;
$text-color: #242424;
$black-80-color: #3a3a3a;
$light-yellow: #fffdf2;
$box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.1);
$background-gradient: linear-gradient(
  188deg,
  #6ec660 -112.86%,
  #fff 27.91%,
  #fff 57.77%,
  #6ec660 236.93%
);

$breakpoint-sm: 510px;
$breakpoint-md: 860px;
$breakpoint-lg: 1190px;
