@import './variables';
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-main;
  color: $text-color;
}
ul {
  padding: 0;
  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
}
