@import '../../../../variables';
@import '../../../../mixins';

.descriptionContainer {
  margin: 8px 16px 32px 0;
}

.description {
  padding: 6px 0;
}
.itemDescription {
  font-size: 20px;
  margin-right: 16px;
  padding: 6px 0;
  line-height: 130%;
}
@include md {
  .itemDescription {
    margin-right: 0;
    line-height: 148%;
  }
}

@include sm {
  .itemDescription {
    margin-top: 16px;
    margin-bottom: 44px;
    line-height: 170%;
  }
}
