@import './../../../variables';
@import '../../../mixins';

.accountTitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 22px;
}

.gridTwoBlocks {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

.rightBlock {
  background-color: $white-color;
  border-radius: 8px;
}

@include sm {
  .accountTitle {
    margin-bottom: 16px;
  }
}
