@import '../../../../variables';
@import '../../../../mixins';

.price {
  margin-top: 32px;
  margin-bottom: 26px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 26px;
}
.bouquetDesktop {
  display: flex;

  & button {
    width: 178px;
    justify-content: space-between;
  }
}
.bouquetMobile {
  display: none;
}
.outOfStock {
  font-size: 24px;
  padding: 6px 0;
  margin-top: 26px;
}

@include md {
  .buttons {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }
  .price {
    margin-top: 26px;
    margin-bottom: 26px;
  }
}
@include sm {
  .price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 22px;
    margin-bottom: 0;
  }
  .buttons {
    width: 100%;
    margin-top: 32px;
    position: relative;
  }
  .bouquetDesktop {
    display: none;
  }
  .bouquetMobile {
    display: flex;
    top: -60px;
    position: absolute;
    z-index: 22;
    right: 0;
  }
}
