@import '../../../../variables';
@import '../../../../mixins';

.price {
  margin-top: 32px;
  margin-bottom: 26px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 26px;
}
.bouquetDesktop {
  display: flex;
}
.bouquetTablet {
  display: none;
}
.outOfStock {
  font-size: 24px;
  padding: 6px 0;
  margin-top: 26px;
}

@include md {
  .price {
    margin-top: 26px;
    margin-bottom: 26px;
  }
  .bouquetDesktop {
    display: none;
  }
  .bouquetTablet {
    display: flex;
  }
}
@include sm {
  .desktopContainer {
    display: none;
  }
  .priceMobile {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 22px;
    margin-bottom: 32px;
  }
}
