@import '/src/variables';
@import '/src/mixins';
@import '../../extention';
.servicesList {
  display: flex;
  flex-direction: column;
  gap: 110px;
}

@include lg {
  .servicesList {
    gap: 20px;
  }
}
