@import 'src/variables';
@import 'src/_mixins.scss';

.mainContainer {
  display: flex;
}
.mobileContainer {
  display: none;
}
.formContainer {
  margin-left: 32px;
}

.title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 22px;
}
.dataInput {
  width: 316px;
  height: 40px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid $gray-dark-color;
  background: $white-color;
  margin-top: 16px;
}
.passwordContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.btnContainer {
  display: flex;
  gap: 32px;
  margin-top: 32px;
}

.passwordReq {
  color: $gray-dark-color;
  font-size: 12px;
  line-height: 130%;
  width: 316px;
}
.errorMessage {
  color: $discount-color;
  font-size: 12px;
  line-height: 200%;
}
.mobileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 16px;
  margin-bottom: 24px;
}

@include sm {
  .mainContainer {
    display: none;
  }
  .mobileContainer {
    display: block;
    margin: 0 auto;
  }
  .cancelBtn {
    display: none;
  }
  .submitBtn {
    width: 316px;
  }
  .accountTitle {
    font-size: 14px;
  }
}
