@import '../../../variables';
.title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 22px;
}
.dataInput {
  width: 316px;
  height: 40px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid $gray-dark-color;
  background: $white-color;
  margin-top: 16px;
}
.passwordContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.btnContainer {
  display: flex;
  gap: 32px;
  margin-top: 32px;
}
