@import 'src/_variables';
@import 'src/_mixins';

.formContainer {
  padding: 0 32px 32px;
}

.title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 22px;
}
.dataInput {
  width: 100%;
  max-width: 316px;
  height: 40px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid $gray-dark-color;
  background: $white-color;
  margin-top: 16px;
}
.passwordContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.btnContainer {
  display: flex;
  gap: 32px;
  margin-top: 32px;
}

.passwordReq {
  color: $gray-dark-color;
  font-size: 12px;
  line-height: 130%;
  width: 100%;
  max-width: 316px;
}
.errorMessage {
  color: $discount-color;
  font-size: 12px;
  line-height: 200%;
}
.popupMobile {
  display: none;
}

@include md {
  .formContainer {
    padding: 0 26px 26px;
  }
  .btnContainer {
    flex-direction: column;
    width: 100%;
    max-width: 316px;
    gap: 26px;
  }
  .popupMobile {
    display: block;
    margin-bottom: 15px;
  }
  .popup {
    display: none;
  }
}

@include sm {
  .btnContainer {
    button:last-child {
      display: none;
    }
  }
}
