@import '/src/variables';
@import '/src/mixins';

%text {
  font-size: 20px;
  line-height: 26px;
}

.contacts {
  display: flex;
  justify-content: space-between;
  justify-items: center;

  @include lg {
    margin-bottom: 32px;
    justify-content: flex-start;
    gap: 72px;
  }

  @include sm {
    flex-direction: column;
    gap: 32px;
  }

  &Title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
  }

  &Address {
    &Text {
      @extend %text;
      margin-bottom: 4px;
      color: $text-color;
    }

    &Schedule {
      @extend %text;
      color: $gray-dark-color;
      display: flex;
      gap: 6px;
    }
  }

  &Contact {
    &Box {
      display: flex;
      flex-direction: column;
      gap: 4px;
      & > a {
        @extend %text;
        color: $text-color;
      }
    }
  }

  &RouteLaying {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;

    @include lg {
      display: none;
    }
  }
}

.routeLaying {
  display: none;

  @include lg {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    border-top: 1px solid $gray-10-color;
  }
}

.routeLink {
  text-decoration: underline;
  color: $page-accent-color;
}
