@import '../../../../../variables';
@import '../../../../../mixins';

.headerNav {
  display: flex;
  align-items: center;
  gap: 12px;
  li {
    padding: 8px;
    white-space: nowrap;
  }
}
.burgerNav {
  display: flex;
  flex-direction: column;
  li {
    padding: 12px 8px;
  }
}
li:first-child .links,
.links {
  color: $text-color;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $page-accent-color;
  }
  &:active {
    color: $active-color;
  }
}
li:first-child .links {
  color: $discount-color;
}

@include lg {
  .headerNav {
    gap: 8px;
    ul {
      margin: 0 0 0 174px;
    }
  }
}
