@import '../../../variables';

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
}

.wrapper {
  padding: 22px 16px;
  max-width: fit-content;
}

.titleWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.numberWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 57px;
  border-radius: 50%;
  background-color: $white-color;
  box-shadow: $box-shadow;
  padding: 16px 22px;
  padding-top: 19px;
  padding-bottom: 13px;
  transition: all 0.5s ease-in-out;

  &:hover {
    transform: scale(0.73);
    border: 1px solid $page-accent-color;
    font-weight: 800;
    font-size: 24px;
  }
}

.number {
  line-height: 25px;
  font-size: 32px;
  font-weight: 500;
  color: $page-accent-color;
}

.title {
  position: relative;
  color: $page-accent-color;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.3;

  &::after {
    position: absolute;
    bottom: 8px;
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: $page-accent-color;
  }
}

.content {
  color: $text-color;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  padding-left: 51px;
  overflow: hidden;
  transition: height 0.7s ease-in-out;
}

.content.expanded {
  max-height: 500px; // Adjust this value as needed to fit your content
}

.selected {
  background-color: $white-color;
  box-shadow: $box-shadow;
  overflow: hidden;
  border-radius: 29px;
}

.numberWrapper.selected {
  box-shadow: none;
  background-color: inherit;
  border: none;
}

.title.selected {
  box-shadow: none;
  border: none;
  overflow: unset;

  &::after {
    width: 0;
  }
}
