@import '../../../../variables';
@import '../../../../mixins';

.path {
  color: $text-color;
  span {
    padding: 7px 9px;
  }
}
.mainContainer {
  margin: 0 auto;
  width: 1180px;
}
.itemBlock {
  display: grid;
  grid-template-columns: 45% 50%;
  grid-template-areas:
    'image caption '
    'image  stock'
    'image features'
    'image price'
    'image .'
    'description description';
  column-gap: 87px;
  padding: 32px 20px 32px 16px;
  margin: 22px 0 32px;
  border-radius: 8px;
  background: $white-color;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.04);
}
.cardImage {
  grid-area: image;
  max-width: 555px;
}
.caption {
  grid-area: caption;
}
.stock {
  grid-area: stock;
}
.description {
  grid-area: description;
}
.features {
  grid-area: features;
}
.price {
  grid-area: price;
}
.itemName {
  font-weight: 500;
  padding: 6px 0;
}

@include lg {
  .itemBlock {
    grid-template-columns: 44% 44%;
    column-gap: 92px;
  }
  .mainContainer {
    width: inherit;
  }
  .cardImage {
    margin-right: 92px;
  }
}

@include md {
  .itemBlock {
    margin-top: 0;
    grid-template-columns: 1fr 1fr;
    padding: 32px 25px;
    margin-left: -25px;
    margin-right: -25px;
    margin-bottom: 38px;
    overflow: hidden;
    border-radius: 0;
  }
  .path {
    margin-top: 16px;
    font-size: 14px;
  }
  .cardImage {
    margin-right: 30px;
  }
  .itemDescription {
    padding-bottom: 32px;
  }
}
@include sm {
  .card {
    background-color: $white-color;
  }
  .itemBlock {
    display: flex;
    margin: 0 -15px 38px;
    flex-direction: column;
    padding: 16px;
  }
  .mainContainer {
    width: 100%;
  }
  .itemName {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 8px;
  }
  .previous {
    margin: 0 16px 26px;
  }
  .cardImage {
    margin-right: 0;
    align-self: center;
  }
}
