@import '../../../../variables';
@import '../../../../mixins';

.path {
  color: $text-color;
  span {
    padding: 7px 9px;
  }
}
.mainContainer {
  margin: 0 auto;
  width: 1180px;
}
.itemContainer {
  padding: 32px 20px 32px 4px;
  margin-top: 22px;
  border-radius: 8px;
  background: $white-color;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.04);
}
.itemName {
  font-weight: 500;
  padding: 6px 0;
}
.itemBlock {
  display: flex;
  gap: 58px;
}
.itemDescriptionContainer {
  flex-direction: column;
}
.previous {
  font-size: 32px;
  padding: 6px;
  margin-top: 28px;
  margin-bottom: 32px;
  font-weight: 500;
}
.mobileTop {
  display: none;
}
@include lg {
  .mainContainer {
    width: 906px;
  }
  .itemBlock {
    gap: 92px;
  }
}

@include md {
  .itemContainer {
    overflow: hidden;
  }
  .path {
    font-size: 14px;
    margin-top: 16px;
  }
  .mainContainer {
    width: 690px;
  }

  .itemContainer {
    flex-direction: column;
    margin-bottom: 46px;
  }
  .itemBlock {
    gap: 30px;
  }
  .itemImage {
    img {
      width: 352px;
      height: 400px;
    }
  }
  .descriptioContainer {
    display: none;
  }
  .descriptionContainerTablet {
    display: block;
    margin-left: 20px;
  }
  .itemDescription {
    padding-bottom: 32px;
  }
}
@include sm {
  .mobileItemCard {
    display: flex;
    flex-direction: column;
    background-color: $white-color;
    padding: 16px;
    margin-bottom: 54px;
  }
  .mainContainer {
    width: 100%;
  }
  .itemContainer {
    display: none;
  }
  .itemName {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 8px;
  }
  .priceMobile {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 22px;
    margin-bottom: 32px;
  }
  .previous {
    margin: 0 16px;
  }
}
