@import './../../variables';
@import './../../_mixins';

.mainContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  margin: 16px 0;
  padding: 6px 0;
}

.sortBlock {
  display: flex;
  align-items: center;
  height: 60px;
  margin-bottom: 20px;
  padding: 10px 12px;
  background-color: $white-color;
  border-radius: 8px;
}

.sortTitle {
  margin-right: 16px;
  font-size: 18px;
  line-height: 24px;
}

.sortDropdown {
  position: relative;
  z-index: 1;
  align-self: start;
}
.cards {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.mainContent {
  width: 880px;
}
.filterButton {
  margin-left: 130px;
}

@include lg {
  .sortTitle {
    display: none;
  }
  .sortBlock {
    background: transparent;
    display: flex;
    flex-basis: content;
  }
  .mainContainer {
    justify-content: center;
  }
  .mainContent {
    max-width: 930px;
  }
}
