@import '../../../../variables';

.button {
  position: relative;
  width: inherit;
  height: 48px;
  font-family: $font-main;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  line-height: 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  .btnContainer {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .icon {
    display: flex;
    align-items: center;
  }
  .label {
    padding-top: 2px;
  }
}

.primary {
  height: 48px;
  background-color: $page-accent-color;
  color: $white-color;
  font-size: 18px;
  &:hover {
    opacity: 0.5;
  }
  &:active {
    opacity: 1;
    background-color: $green-dark-color;
  }
}
.padding-even {
  padding: 12px 25px;
}
.padding-sm {
  padding: 12px 14px 12px 23px;
}
.padding-bg {
  padding: 12px 48px;
}
.padding-header-even {
  padding: 8px;
}
.padding-header-bg {
  padding: 6px 2px;
}
.padding-header-sm {
  padding: 0px 0px 8px 8px;
}
.full-width {
  width: 100%;
}
.secondary {
  height: 48px;
  color: $text-color;
  font-weight: 500;
  background-color: $white-color;
  border: 1px solid $page-accent-color;
  font-size: 18px;
  &:hover {
    background-color: $page-background-color;
  }
  &:active {
    border: 1px solid $active-color;

    .icon {
      path {
        stroke: $active-color;
      }
    }
  }
}

.no-border {
  height: 48px;
  color: $text-color;
  background-color: $white-color;
  font-size: 16px;
  .label {
    align-self: center;
  }
}

.no-border-hovered {
  color: $text-color;
  background-color: inherit;
  font-size: 16px;
  .label {
    align-self: center;
  }
  &:hover {
    color: $page-accent-color;
  }
  &:active {
    color: $active-color;
  }
}

.no-border-yellow {
  padding: 11px 0;
  font-size: 14px;
  color: $on-press-color;
  text-decoration: underline;
  background-color: $white-color;
  .label {
    align-self: center;
  }
  &:hover {
    color: $page-accent-color;
  }
  &:active {
    color: $active-color;
  }
}
.bg-inherit {
  background-color: inherit;
  color: $text-color;
  font-weight: 700;
  font-size: 16px;
}

.disabled {
  background-color: $gray-light-color;
  color: $white-color;
  font-size: 18px;
  cursor: auto;
}
