@import 'src/_variables.scss';
@import 'src/_mixins.scss';

.mobileContainer {
  display: none;
}
.headerContainer {
  padding-left: 32px;
}
.header {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 22px;
}
.formContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 59px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dataInput {
  width: 316px;
  height: 40px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid $gray-dark-color;
  background: $white-color;
  margin-bottom: 16px;
}
.btnContainer {
  display: flex;
  gap: 32px;
  margin-top: 32px;
}
label {
  span {
    color: $discount-color;
  }
}

.mobileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 16px;
  margin-bottom: 24px;
}

@include lg {
  .formContainer {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .birthday {
    width: 141px;
  }
}

@include md {
  .form {
    width: 316px;
  }
  .btnContainer {
    flex-direction: column;
  }
  .cancelBtn {
    align-self: center;
  }
}
@include sm {
  .mobileContainer {
    display: block;
  }
  .mainContainer {
    display: none;
  }
  .form {
    margin: 0 auto;
  }
  .cancelBtn {
    display: none;
  }
  .accountTitle {
    font-size: 14px;
  }
}
