@import '/src/mixins';

.list {
  position: relative;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  width: 710px;
}

@include lg {
  .list {
    width: 587px;
  }
}

@include md {
  .list {
    width: 100%;
    padding-top: 56px;
    padding-bottom: 131px;
    gap: 16px;
  }
}

@include sm {
  .list {
    padding-bottom: 0;
  }
}
